<MudPaper Class="m-1 p-1 rounded-lg" Style="border: solid black 2px; display:flex; height:140px; width:230px; flex-direction:column; box-shadow: 5px 5px 5px 2.5px rgba(0,0,0,0.2)">

    <table>
        <tr>
            <th colspan="2"><MudText Style="font-weight:bold; text-align:center; align-items:center; font-size:13px;">Leyenda</MudText></th>
        </tr>
        <tr>
            <th>
                <MudTooltip Text="😁 Esta entre el tiempo establecido">
                    <div style="border: 1px solid black; width:15px; height:15px; background-color:rgb(0, 255, 0); margin:0;"></div>
                </MudTooltip>
            </th>
            <th>
                <MudTooltip Text="😁 Esta entre el tiempo establecido">
                    <p style="font-weight:500; margin:0;">@("Muy bueno")</p>
                </MudTooltip>
            </th>
        </tr>
        <tr>
            <th>
                <MudTooltip Text="😀 Tiene un 25% mas del tiempode atraso">
                    <div style="border: 1px solid black; width:15px; height:15px; background-color:rgb(181, 255, 0);margin:0;"></div>
                </MudTooltip>
            </th>
            <th>
                <MudTooltip Text="😀 Tiene un 25% mas del tiempo de atraso">
                    <p style="font-weight:500; margin:0;">@("Bueno")</p>
                </MudTooltip>
            </th>
        </tr>
        <tr>
            <th>
                <MudTooltip Text="😑 Tiene un 50% mas del tiempo de atraso">
                    <div style="border: 1px solid black; width:15px; height:15px; background-color:rgb(255, 165, 0);margin:0;"></div>
                </MudTooltip>
            </th>
            <th>
                <MudTooltip Text="😑 Tiene un 50% mas del tiempo de atraso">
                    <p style="font-weight:500; margin:0;">@("Regular")</p>
                </MudTooltip>
            </th>
        </tr>
        <tr>
            <th>
                <MudTooltip Text="😞 Tiene un 75% mas del tiempo de atraso">
                    <div style="border: 1px solid black; width:15px; height:15px; background-color:rgb(255, 131, 0);margin:0;"></div>
                </MudTooltip>
            </th>
            <th>
                <MudTooltip Text="😞 Tiene un 75% mas del tiempo de atraso">
                    <p style="font-weight:500; margin:0;">@("Malo")</p>
                </MudTooltip>
            </th>
        </tr>
        <tr>
            <th>
                <MudTooltip Text="😡 Tiene un 100% mas del tiempo de atraso">
                    <div style="border: 1px solid black; width:15px; height:15px; background-color:rgb(255, 0, 0);margin:0;"></div>
                </MudTooltip>
            </th>
            <th>
                <MudTooltip Text="😡 Tiene un 100% mas del tiempo de atraso">
                    <p style="font-weight:500; margin:0;">@("Muy Malo")</p>
                </MudTooltip>
            </th>
        </tr>
    </table>

</MudPaper>